.payment-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.payment-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.payment-card-details {
  margin-bottom: 20px;
}

.payment-card {
  margin-bottom: 30px;
}

.payment-button {
  padding: 50px 20px;
  background-color: #ff9900;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .payment-container {
    max-width: 100%;
    padding: 10px;
  }

  .payment-title {
    font-size: 20px;
  }

  .payment-button {
    font-size: 16px;
  }
}
